* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    display: flex;
    color: none;
}

.topnav {
    overflow: hidden;
    background-color: #36aa20;
    height: 60px;
}
  
.topnav a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}
  
.topnav a:hover {
    background-color: #168A19;
    color: #FFF;
}

.footer{
    overflow: hidden;
    background-color: #36aa20;
    padding: 50px;
}

.footer a{
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

.footer a:hover{
    background-color: #36aa20;
    color: #FFF;
}

td{
    width: 500px;
}

.tabela espaco table{
    width: 1000px;
    height: 1000px;
    margin-top: 1000px;
}

.logo img{
    max-width:170px;
    max-height:170px;
    width: auto;
    height: auto;
    margin-top: -3%;
}

.logo1 img{
    width: 400px;
    height: auto;
}

.notificacoes img{
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
    right: 1000%;
}

.pesquisar img{
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
}

.logo2 img{
    max-width:70px;
    max-height:70px;
}

.logo3 img{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}